@model User

<h3> Login </h3>

<form method="post">
   <input asp-for="Email" placeholder="Your EMail Address" title="Email Address" />
   <input asp-for="Password" placeholder="Your Password" title="Password" />
   <button type="submit"> Login </button>
</form>
