@model Trail

<fieldset class="border custom-control-inline p-2 shadow">
   <legend> Add Trail </legend>

   <form method="post">
      <input type="hidden" asp-for="PeakId" />

      <table>
         <partial name="_AddEditHeadBody" />

         <tfoot>
            <tr> <td colspan="2"> <hr /> </td> </tr>

            <tr>
               <td class="text-center" colspan="2">
                  <input class="btn btn-sm btn-primary m-1" type="submit" value="Add Trail" />
                  <a asp-controller="Peak" asp-action="Detail" asp-route-peakId="@Model.PeakId" class="btn btn-sm btn-secondary m-1"> Cancel </a>
               </td>
            </tr>
         </tfoot>
      </table>
   </form>
</fieldset>
