@model Trail
@inject IUserRepository UserRepository

<fieldset class="border custom-control-inline p-2 shadow align-top mb-4">
   <legend> Trail Details </legend>

   <table>
      <partial name="_DetailBody" model="@Model" />

      <tfoot>
         <tr> <td colspan="2"> <hr /> </td> </tr>

         <tr>
            <td class="text-center" colspan="2">
               @if (UserRepository.IsUserAdmin())
               {
                  <a asp-action="Edit"   asp-route-trailId="@Model.Id" class="btn btn-sm btn-warning m-1"> Edit   </a>
                  <a asp-action="Delete" asp-route-trailId="@Model.Id" class="btn btn-sm btn-danger  m-1"> Delete </a>
               }
               <a asp-controller="Peak" asp-action="Detail" asp-route-peakId="@Model.PeakId" class="btn btn-sm btn-secondary m-1"> Back </a>
            </td>
         </tr>
      </tfoot>
   </table>
</fieldset>
