@model Peak

<tbody>
   <tr>
      <th class="text-right"> <span class="m-1"> Name: </span> </th>
      <td> <span class="m-1"> @Model.Name </span> </td>
   </tr>

   <tr>
      <th class="text-right"> <span class="m-1"> Elevation: </span> </th>
      <td> <span class="m-1"> @Model.Elevation.ToString("N0") </span> </td>
   </tr>

   <tr>
      <th class="text-right"> <span class="m-1"> County: </span> </th>
      <td> <span class="m-1"> @Model.County </span> </td>
   </tr>

   <tr>
      <th class="text-right"> <span class="m-1"> Nearest Town: </span> </th>
      <td> <span class="m-1"> @Model.NearestTown </span> </td>
   </tr>
</tbody>
