@model Peak

<fieldset class="border custom-control-inline p-2 shadow">
   <legend> Edit Peak </legend>

   <form method="post">
      <input type="hidden" asp-for="Id" />

      <table>
         <partial name="_AddEditHeadBody" model="@Model" />

         <tfoot>
            <tr> <td colspan="2"> <hr /> </td> </tr>

            <tr>
               <td class="text-center" colspan="2">
                  <input class="btn btn-sm btn-warning m-1" type="submit" value="Save" />
                  <a asp-action="Detail" asp-route-peakId="@Model.Id" class="btn btn-sm btn-secondary m-1"> Cancel </a>
               </td>
            </tr>
         </tfoot>
      </table>
   </form>
</fieldset>
