@model User

<fieldset class="border custom-control-inline p-2 shadow">
   <legend> Register </legend>

   <form method="post">
      <table>
         <tbody>
            <tr>
               <th class="text-right"> <span class="m-1"> EMail Address: </span> </th>
               <td> <input asp-for="Email" class="m-1" placeholder="Your EMail Address" required title="Email Address" /> </td>
            </tr>

            <tr>
               <th class="text-right"> <span class="m-1"> Password: </span> </th>
               <td> <input asp-for="Password" class="m-1" placeholder="Your Password" required title="Password" /> </td>
            </tr>
         </tbody>

         <tfoot>
            <tr> <td colspan="2"> <hr /> </td> </tr>

            <tr>
               <td class="text-center" colspan="2">
                  <input class="btn btn-sm btn-primary m-1" type="submit" value="Register" />
                  <a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-secondary m-1"> Cancel </a>
               </td>
            </tr>
         </tfoot>
      </table>
   </form>
</fieldset>
