@model User

<form method="post">
   UserName (EMail Address):
   <input asp-for="Email" required />
   <br />
   Password:
   <input asp-for="Password" required />
   <br />
   <input type="submit" value="Register" />
</form>
