@model Hike

<fieldset class="border custom-control-inline p-2 shadow">
   <legend> Delete Hike </legend>

   <table>
      <partial name="_DetailBody" model="@Model" />

      <tfoot>
         <tr> <td colspan="2"> <hr /> </td> </tr>

         <tr>
            <th class="text-center" colspan="2"> <span class="m-1"> Are You Sure? </span> </th>
         </tr>

         <tr>
            <td class="text-center" colspan="2">
               <form method="post">
                  <input type="hidden" asp-for="Id" />
                  <input type="submit" class="btn btn-sm btn-danger m-1" value="Delete" />
                  <a asp-controller="Hike" asp-action="Detail" asp-route-hikeId="@Model.Id" class="bth btn-sm btn-secondary m-1"> Cancel </a>
               </form>
            </td>
         </tr>
      </tfoot>
   </table>
</fieldset>
